# Project exclude paths
/OnlineChat/wwwroot/node_modules/

# binaries
/OnlineChat/bin/
/OnlineChat/obj/
/BusinessLogic/bin/
/BusinessLogic/obj/
/Constants/obj/
/Constants/bin/
/Database/bin/
/Database/obj/
# IDEA
.idea/
.vs/

