#chatrooms {
  font-family: Arial, serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
}

.button {
  transition: all 0.1s ease-in;
  background-color: transparent;
}

#chatroom {
  font-family: Arial, serif;
  font-size: 20px;
  margin: 3px;
  display: flex;
  flex-direction: row;
  width: 50%;
  border: 1px solid black;
  padding: 10px;
  border-radius: 10px;
}

#header {
  font-family: Arial, serif;
  text-align: center;
  font-size: 35px;
}

.room-info {
  margin-right: 5px;
}

#users-count {
  margin-right: 10px;
}

#join-button {
  margin-right: 10px;
  font-size: 30px;
  border-radius: 15px;
  padding: 3px 35px;
  margin-left: auto;
}

#create-chatroom-button {
  position: fixed;
  display: inline-block;
  right: 30px;
  bottom: 30px;
  width: 60px;
  height: 60px;
  border: 1px solid transparent;
  border-radius: 100%;
  text-align: center;
  font-size: 50px;
  background-color: dodgerblue;
  color: white;
  transition: 0.1s ease-in;
}

#create-chatroom-button:hover {
  background-color: #0366c7;
}
