<div id="login-wrap">
  <div id="login-container">
    <input type="text" id="nickname-input" class="input" [(ngModel)]="username" placeholder="Nickname" 
    (keydown.enter)="onConnectClicked()">
    <input type="password" id="password-input" class="input" [(ngModel)]="password" placeholder="Password" 
    (keydown.enter)="onConnectClicked()">
    <input type="button" id="login-button" (click)="onConnectClicked()" value="Connect" 
    (keydown.enter)="onConnectClicked()">
    <p id="error-message" [hidden]="errorMessage.length == 0">{{errorMessage}}</p>
  </div>
</div>
