<div id="login-wrap">
  <div id="login-container">
    <input type="text" id="nickname-input" class="input" [(ngModel)]="username" placeholder="Nickname" (keydown.enter)="onConnectClicked()">
    <input type="password" id="password-input" class="input" [(ngModel)]="password" placeholder="Password" (keydown.enter)="onConnectClicked()">
    <input type="button" id="login-button" (keydown.enter)="onConnectClicked()" value="Connect" (click)="onConnectClicked()">
    <p id="error-message" [hidden]="errorHidden">{{errorMessage}}</p>
  </div>
</div>
