#login-container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
}

.input {
  text-align: center;
  font-size: 25px;
  border-radius: 15px;
  padding: 5px 10px 5px 15px;
  transition: all 0.1s ease-in;
  margin-top: 5px;
}

.input:hover {
  border-radius: 22px;
}

#register-button {
  padding: 5px 35px;
  font-size: 25px;
  border-radius: 15px;
  transition: all 0.1s ease-in;
  background-color: white;
  margin: 10px;
}

#register-button:hover {
  border-radius: 35px;
  background-color: whitesmoke;
}

#error-message {
  margin-top: -4px;
  color: red;
  font-family: 'Arial', serif;
  font-size: 20px;
}
