<div id="header">
  <div id="not-authorized-header" *ngIf="!this.storage.isLoggedIn">
    <input type="button" (click)="this.router.navigate(['login']);" value="Login" class="reg-header-button">
    <input type="button" (click)="this.router.navigate(['registration']);" value="Register" class="reg-header-button">
  </div>
  <div id="authorized-header" *ngIf="storage.isLoggedIn">
    <input type="button" (click)="router.navigate(['select-chat'])" value="Chats" class="header-button">
    <input type="button" value="Logout" class="header-button" (click)="logout();">
  </div>
</div>
